$black: rgba(50, 123, 107, 0.45);
//$black: rgba(0, 0, 0, 0.4);
$white: rgba(255, 255, 255, 0.9);
$border: rgba(255, 255, 255, 0.2) solid 20;

.top-bar {
  background-color: rgba(27, 76, 94, 0.2);
}


.logo-left-bar {
  font-size: 22px;
  font-family: "SF Pro Display";
  min-width: 50px;
  margin-left: 5px;
}

.text-left-bar {
  font-size: 16px;
  font-weight: 500;
  font-family: "SF Pro Display";
  min-width: 65px;
}

.text-left-bar:hover,
.logo-left-bar:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: 0.2s ease;

}


.finder {
  font-size: 16px;
  font-weight: 700;
}

.menu-mac {
  background-color: $black;
  color: rgba(255, 255, 255, 0.8);
  min-width: 300px;
  font-family: "SF Pro Display";
  font-weight: 500;
  font-size: 16px;
  padding: 10px 10px;
  border-radius: 10px;
  border: rgba(255, 255, 255, 0.2) 1px solid;
}

.about,
.preferences,
.system {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 10px 0px;
}

.element-menu {
  padding: 6px 10px;

}

.element-menu:hover {
  background-color: rgba(44, 161, 203, 0.4);
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.left-icon {
  font-size: 15px;
  margin-right: 13px;
}


.element-icons {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
}