.date-right-bar {
  font-size: 16px;
  font-family: "SF Pro Display";
  font-weight: 400;
  color: #ffffff;
  margin-right: 20px;
}

.icons {
  font-size: 18px;
  margin-right: 35px;
  //padding: 0 15px;
}

.toggle {
  margin-right: 15px;
}

.bluetooth {
  font-size: 21px;
  //margin-right: 22px;
}

.noti-dot {
  font-size: 10px;
  color: #ffab54;
}