.works {
  //background: rgba(146, 179, 172, 0.4);
  font-family: "FiraCode Nerd Font";
  margin: 1px 0;
  padding: 0 0px;
  border-radius: 6px;
}

.works button {
  font-size: 20px;
  padding: 0px 10px;
}

.works button.empty {
  opacity: 0.4;
}

.works button.occupied {
  color: #ffffff;
  opacity: 1;
}

.works button.focused {
  color: white;
}

.works button.occupied.focused {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;

}