$black: rgba(0, 0, 0, 0.4);
$white: rgba(255, 255, 255, 0.9);

$border: rgba(255, 255, 255, 0.2) solid 20;

.clock {
  font-weight: 700;
  font-family: "SF Pro Display";
  font-size: 120px;
  color: $white;

}


.date {
  font-weight: 500;
  font-family: "SF Pro Display";
  font-size: 25px;
  color: #ffffff;
  margin-top: -10px;
}